/extra/nbproject/private/
/extra/build/
/JavaProject1/nbproject/private/
/prac2_2/nbproject/private/
/prac4_1/nbproject/private/
/prac4_1/build/
/prac4_2/nbproject/private/
/prac4_2/build/
/prac5_1/nbproject/private/
/prac5_1/build/
/prac5_2/nbproject/private/
/prac5_2/build/
/prac6_1/nbproject/private/
/prac6_1/build/
/prac6_2/nbproject/private/
/prac6_2/build/