/extra/nbproject/private/
/extra/build/
/JavaProject1/nbproject/private/
/prac2_2/nbproject/private/
/prac4_1/nbproject/private/
/prac4_1/build/
/prac4_2/nbproject/private/
/prac4_2/build/
/prac5_1/nbproject/private/
/prac5_1/build/
/prac5_2/nbproject/private/
/prac5_2/build/
/prac6_1/nbproject/private/
/prac6_1/build/
/prac6_2/nbproject/private/
/prac6_2/build/
/prac7_1/nbproject/private/
/prac7_1/build/
/prac7_2/nbproject/private/
/prac7_2/build/
/prac8_1/nbproject/private/
/prac8_1/build/
/prac8_2/nbproject/private/
/prac8_2/build/
/prac8_3/nbproject/private/
/prac8_3/build/
/prac9_1/nbproject/private/
/prac9_1/build/
/prac9_2/nbproject/private/
/prac9_2/build/
/prac9_3/nbproject/private/
/prac9_3/build/
/prac9_4/nbproject/private/
/prac9_4/build/
/prac9_5/nbproject/private/
/prac9_5/build/
/prac9_6/nbproject/private/
/prac9_6/build/
/prac10_1/nbproject/private/
/prac10_1/build/
/prac10_2/nbproject/private/
/prac10_2/build/
/prac11_1/nbproject/private/
/prac11_1/build/